.jumbotron {
  padding-top: 2rem 1rem;
  background-color: rgb(212, 130, 7);
}
#about {
  background-color: rgb(212, 130, 7);
}
#project {
  background-color: rgb(212, 130, 7);
}
#contact {
  background-color: rgb(212, 130, 7);
}
